.navigation {
    position: relative;
    display: block;
}

.hamb_menu {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    transform-origin: 0px 0px;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
    opacity: 0;
}

.navigation span {
    display: block;
    left: 50%;
    top: 3px;
    transform: translate(-50%);
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 2;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.menu {
    position: absolute;
    z-index: 1;
    width: 100vw;
    padding-top: 2vh;
    text-align: center;
    background-color: black;
    transform-origin: 0% 0%;
    transform: translate(0, -120%);
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    padding-bottom: 0.5em;
    position: relative;
    z-index: 1;
}

.navigation input:checked~ul {
    transform: none;
}

.navigation span {
    transform-origin: 0% 0%;
}

.navigation input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-9px, 7px);
}

.navigation input:checked~span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.navigation input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-13px, -7px);
}

@media screen and (min-width: 1024px) {
    .navigation span {
        top: 50px;
        display: flex;
    }
    .hamb_menu {
        top: 50px;
    }
    .menu {
        width: 50vw;
        height: 100%;
        transform: translate(-100%, -1.5%);
    }
    .navigation input:checked~ul {
        transform: translateY(-1.5%)
    }
    .menu a {
        font-size: 1.5rem;
    }
}