:root {
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
}

.conteiner {
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
}

.header {
    color: black;
    background-color: white;
    min-height: 10vh;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

.content {
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
    min-height: 5vh;
    background-color: black;
}

.news_section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 3vh;
}

.news_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2.5vh;
}

.img_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    width: 100vw;
    height: auto;
    min-height: 30vh;
}

.titulo {
    position: absolute;
    display: block;
    bottom: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background: rgba($color: #000000, $alpha: 0.5);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
    padding: 0.5em;
}

.aside {
    display: flex;
    flex-direction: column;
}

h2 {
    display: inline;
    background: purple;
    color: white;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background: rgba($color: #000000, $alpha: 0.2);
    & a {
        font-family: 'Roboto', sans-serif;
        font-size: 0.7rem;
        color: black;
    }
    p {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 768px) {
    .titulo {
        font-size: 2.5rem;
    }
    p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .content {
        flex-direction: row;
        justify-content: space-between;
    }
    .news_section {
        flex-direction: column;
        flex-basis: 60%;
        margin-top: 0;
        & img {
            min-height: 55vh;
            max-height: 55vh;
            width: 100%;
        }
    }
    .navigation {
        flex-basis: 10%;
    }
    .aside {
        flex-basis: 25%;
        & a {
            font-size: 1.5rem;
        }
        & img {
            width: 100%;
        }
    }
}